body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:#606060;
}

.contentContainer {
  display: flex;
}

/* side bar */

.sidebar {
  flex: 0 0 200px;
  min-height: 100vh;
  background:#0082C3;
  margin-left:-215px;
  transition: all 300ms linear;
  color:white;
}
.sidebar.active {
  margin-left: -15px;
}

.sidebar hr {
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

.sidebar ul li {
  list-style:none;
  padding:15px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

.blueButton{
  background:#0082C3;
  color:white;
  margin:10px !important;
}

.blueButton:hover{
  background:#0062C3;
}

.btn{
  margin:2px;
}

input{
  margin:2px;
}

.toggle-btn {
  position:relative;
  left:30px;
  top:20px;
  z-index: 2;
}

.toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background: #151719;
  margin:5px 0px;
}

.content {
  position:relative;
}

.menu {
  color:white;
}

.menu:hover{
  color:#303030;
  text-decoration: none;
}

.givenName{
  font-size:0.9em;
}

.logOut{
  color: #0082C3;
}

.logOut:hover{
  color: #303030;
  text-decoration: none;
}

.srt{
  font-size: 1.2em;
}

.hamburger span{
  background:#606060;
}

.inputPickingList{
  width:60px;
  text-align: center;
}

.navbar{
  background-color: #EEEEEE !important;
}

tbody tr:hover{
  background-color: #EEEEEE;
}

.clickableText{
  color:#0082C3;
}

.aisleLetter{
  color:#0082C3;
  background: transparent;
  border-color:#0082C3;
}

.aisleLetter:hover{
  background:#0082C3;
  color:white;
}

.logo_decat{
  background-image: url('/small_logo_decat.png');
  width: 145px;
  height: 39px;
}


  /* For devices 400px and larger: */
  @media only screen and (min-device-width: 600px) {
      .logo_decat {
          background-image: url('/logo_decat.png');
          width: 290px;
          height: 78px;
      }
}
